.leaderboard {
  width: 75%;
  height: auto;
  background-color: paleturquoise;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border: solid rebeccapurple 3px;
  border-radius: 30px;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px 0px 0px;
  padding: 0px 0px 50px 0px;
}

.row {
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  width: auto;
  margin: 25px 0px 25px 0px;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  border: solid rebeccapurple 3px;
  border-radius: 30px;
  background-color: lightsalmon;
}

.sample {
  width: 125px;
  margin: 25px 50px 25px 50px;
}

.entry {
  width: 100px;
  padding: 10px 50px 10px 50px;
}

@media screen and (max-width: 1210px) {
  .sample {
    width: 100px;
    margin: 10px 30px 10px 30px;
  }

  .entry {
    width: 100px;
    padding: 0px 30px 0px 30px;
  }
}

@media screen and (max-width: 900px) {
  .sample {
    width: 75px;
    margin: 10px 10px 10px 10px;
  }

  .entry {
    width: 75px;
    padding: 0px 10px 0px 10px;
  }

  .date {
    width: 100px;
  }
}
