.puzzle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.circle {
  background-color: blue;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin: 50px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 50px;
}

/* Triangle made with help from https://css-tricks.com/the-shapes-of-css/ */

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid purple;
  margin: 50px;
}

.rhombus {
  background-color: lime;
  width: 100px;
  height: 100px;
  transform: skew(20deg);
  margin: 50px;
}

.equal-sign {
  margin: 50px;
}

.plus-sign {
  margin: 50px 50px 50px 0px;
}

.divide-sign {
  margin: 50px;
}

.individual {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  flex-wrap: wrap;
  margin: 0px 150px 0px 150px;
}

.page-break {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.text {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 50px;
  font-size: 25px;
}

.secret {
  color: mediumvioletred;
}
